:root {
  --accent-color: #2d2d2d;
  --text-color: black;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 2rem 1rem;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--accent-color);
}

.header .header__title {
  font-size: 1.2rem;
}

.my-description {
  padding: 1rem 0 0 0;
}

.my-description__logo {
  width: 10rem;
  display: block;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.page-section .page-section__title {
  font-size: 1.1rem;
}

.entity-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}

.entity-list .entity-list__item {
  display: flex;
  border: 1px solid var(--accent-color);
  overflow: hidden;
  max-width: 65px;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  transition: background-color 0.1s ease;
}

.entity-list .entity-list__item:hover {
  background-color: #d5d5d5;
}

.entity-list .entity-list__item-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  gap: 5px;
}

.entity-list .entity-list__item-icon {
  width: 70%;
  height: 50%;
}

.entity-list .entity-list__item-icon::after {
  content: '';
  display: block;
}
